@import url('main.css');

.container {
    max-width: 1800px;
    margin: 0 auto;
    border-radius: 8px;
}

.main__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap : 20px;
}

.hero {
    padding: 30% 0 35% 0;
}

.hero__container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.list__item {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    align-items: center;
    padding: 10px 0;
}

.list__item:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
    transition: 150ms;
}

.market__section {
    background-color: rgba(15, 15, 15, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 8px;
    padding: 20px;
    max-width: 100%;
}

.coin__name {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
    justify-items: start;
}

.coin__name:hover {
    color: var(--text-hover-color);
    text-decoration: underline;
    cursor: pointer;
    transition: 150ms;
}

.coin__price {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: center;
    width: 200px;
    text-align: left;
}

.titles__container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 0 20px;
    padding-top: 20px;
}
.title__item {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
}
.coin__1h{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
}
.coin__24h{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
}
.coin__market-cap{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
}
.coin__volume{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
}
.coin__dex{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
}
.coin__age{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
}
.coin__dextxns{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
}

.pages {
    display: flex;
    gap: 10px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    border-radius: 8px;
}
.pages__item {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    text-align: left;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hover-color);
    cursor: pointer;
}

.empty {
    background-color: transparent;
    width: 100%;
    height: 30px;
}
