html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #0F0F0F;
    --container-color: #1E1F20;
    --grey-90: #e6e6e6;
    --hover-color: #2D2E30;
    --text-hover-color: #4e6ed8;
}

:root {
    --font-family: "Barlow", sans-serif;
    --second-family: "Inter", sans-serif;
}

.login__container {
    max-width: 1200px;
    margin: 0 auto;
}

.login__flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 25% auto;
    background-color: var(--container-color);
    border-radius: 8px;
}

.login__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--grey-90);
    margin: 0 auto;
}

#login__email, #login__password {
    padding: 10px;
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    color: var(--grey-90);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-90);
}

#login__submit {
    padding: 10px;
    background-color: var(--hover-color);
    border: none;
    border-radius: 4px;
    color: var(--grey-90);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-90);
    cursor: pointer;
}
#login__submit:hover {
    background-color: var(--text-hover-color);
    transition: 0.2s;
}

.login__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-90);
    text-decoration: none;
    margin: 0 auto;
}

.login__link:hover {
    color: var(--text-hover-color);
    transition: 150ms;
}

.login__error {
    display: none;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #D31130;
    text-align: center;
}

.logine__error {
    display: none;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #D31130;
    text-align: center;
}