html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #0F0F0F;
    --container-color: #1E1F20;
    --grey-90: #e6e6e6;
    --hover-color: #2D2E30;
    --text-hover-color: #4e6ed8;
}

:root {
    --font-family: "Barlow", sans-serif;
    --second-family: "Inter", sans-serif;
}

.register__container {
    max-width: 1200px;
    margin: 0 auto;
}

.register__flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#register__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 25% auto;
    background-color: var(--container-color);
    border-radius: 8px;
}

.register__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--grey-90);
    margin: 0 auto;
}

#username__input, #email__input, #password__input {
    padding: 10px;
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    color: var(--grey-90);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-90);
}

#submit__button {
    padding: 10px;
    background-color: var(--hover-color);
    border: none;
    border-radius: 4px;
    color: var(--grey-90);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-90);
    cursor: pointer;
}

#submit__button:hover {
    background-color: var(--text-hover-color);
    transition: 0.2s;
}

.register__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-90);
    text-decoration: none;
    margin: 0 auto;
}

.register__link:hover {
    color: var(--text-hover-color);
    transition: 150ms;
}

.about__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-90);
    text-decoration: none;
    margin: 0 auto;
}
.about__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-90);
    text-decoration: none;
    margin: 0 auto;
}

.register__error, .email__error {
    display: block;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #D31130;
    text-align: center;
}

.warning__logo, .email__logo {
    display: block;
    margin: 0 10px;
    width: 18px;
}

.error__flexbox-1, .error__flexbox-2 {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto;
}

.verification__box {
    display: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 8px;
    padding: 20px;
    margin: 25% auto;
}
.verification__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-90);
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
}
.verification__item {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: var(--grey-90);
    background-color: var(--background-color);
    width: 30px;
    text-align: center;
}

.verification__flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#verification__submit{
    padding: 10px;
    background-color: var(--hover-color);
    border: none;
    border-radius: 4px;
    color: var(--grey-90);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-90);
    cursor: pointer;
}

#verification__submit:hover {
    background-color: var(--text-hover-color);
    transition: 150ms;
}